.linked-menu-item:hover{
    background-color: #0066cc;
    transition: 0.5s
}

.linked-menu-link{
    padding: 8px 12px;
    border-radius: 4px;

}
.linked-link{
    color: white;
    text-decoration: none;
}

